// Colores Principales

$blanco: #fff;
$linea-gris: #ddd;
$gris-tenue: #aaa;
$rojo-base: #cd2355;
$gris-base: #333;
$negro: #343434;
$azul: blue;
$naranja: orange;

/* colores-fondos */

$rojo-vivo: red;
$fondo-rojo: rgba(144,15,59,.7);
$verde: #53ce63;

/* colores-redes-sociales */

$facebook: #3b5999;
$twitter: #46c1f6;
$instagram: #e1306c;
$github: #333333;
$youtube: #de463b;
$sombra: rgba(0, 0, 0, 0.1);

// Estilos color video

$gris1-video: #d7dae0;
$gris2-video: rgba(215,218,224,0)