// Secciones sin SCSS

/* ------ Inicia Seccion de Hardware ---- */

/* Producto Principal */

/* Aplicando bootstrap a grid */


.bgimage {
  width:100%;
  height:500px;
  background: url('../img/section-image-bg-raspberry-pi.jpg');

  background-repeat: no-repeat;
  background-position: 0 -20em;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

img.rounded.mx-auto.d-block {
    margin-left: 0 !important;
}


.btn-primary {
    color: #fff;
    background-color: #a90634 !important;
    border-color: #de463b !important;
}

.boton-mas-info::hover {
    background-color: blue;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.contenedor-productos {
    padding-top: 4em;
}

.producto-principal-lista {
    display: grid;
    grid-template-columns: 40em 40em;
    grid-template-rows: 100px 0px 126px auto;
    grid-template-areas:
        "imagen titulo"
        "imagen subtitulo"
        "imagen texto"
        "imagen boton";
    /* width: 100%; */
    align-items: center;
    position: relative;
    background-color: #a90634;
    color: #fff;
    z-index: -1;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1em;
}

.producto-principal-lista img {
    grid-area: imagen;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}

.producto-principal-lista h1 {
    grid-area: titulo;
    
}

.producto-principal-lista h2 {
    grid-area: subtitulo;
    font-weight: 500;
   
}

.producto-principal-lista p {
    grid-area: texto;
    font-weight: 300;
  
}

.producto-principal-lista button {
    grid-area: boton;
   
}


/* Grid de lista Productos */

.lista-productos {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 35% 35%;
    justify-content: center;
    margin-top: 30px;
}

.lista-productos img {
    width: 100%;
    object-fit: cover;
}

button {
    background-color: #53ce63;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1.2rem;
    border: none;
}

/* ------ Inicia Seccion de Software ---- */

 /* Imagen de seccion Bootstrap */

.bgimage-software {
  width:100%;
  height:500px;
  background: url('../img/software-section-image-raspberry-pi.jpeg');
  background-repeat: no-repeat;
  background-position: -10px -20em;
  background-size:cover;
  background-attachment: fixed;
}

.info-software {
    padding-top: 8em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info-software img {
    max-width: 500px;
}

.texto-info-software {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.texto-info-software p {
    text-align:center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 70%;
}

#justificar-texto-info-software {
    text-align: justify;
}

.texto-info-software a {
    text-decoration: none;
    color: #333;
    border-bottom: 3px solid #c41949; 
}

.texto-info-software #boton-mac {
    margin-left: revert;
    margin: 20px;

}

code {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Posicion especifica de footer con poco contenido de main */
.footer-software {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ------ Inicia Seccion de Documentacion ---- */

.info-documentacion {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 1em;
}

.info-documentacion h1 {
    color:#a90634;
    font-size: 2rem;
    font-weight: 300;
}

.temas-documentacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.temas-documentacion a {
    text-decoration: none;
    color: #333;
    padding-right: 12px;
}

.toptitle {
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: #343434;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}


/* Barra de busqueda bootstrap con icono */

.centrar-barra-busqueda {
    width: 50%;
    margin: 50px auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

  /* Lista Grid Documentacion */

.grid-lista-documentacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;

}

a.servicio-documentacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 275px;
    width: 350px;
    text-decoration: none;
    background-color: #fff;
    padding: 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}


a.servicio-documentacion span.title {
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
}

a.servicio-documentacion span {
    color: #343434;
    display: block;
    text-align: center;
}


.grid-lista-documentacion img {
    width: 100%;
    object-fit: cover;
}

.servicio-documentacion h2 {
    width: 50%;
}

.servicio-documentacion p {
    width: 50%;
}

/* Inicia seccion de contacto */
/* Estilo Forma de contacto con bootstrap */

/* Agregando animacion a boton de envio */

#medida-boton-enviar {
    width: 150px;
    height: 50px;
}


.forma-contacto {
    position: relative;
    padding: 1rem;
    margin-top: 6rem;
}

.form-control {
    margin-bottom: 1em;
}

  /* Estilo Mapa */

  .mapa-iframe {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .mapa-iframe h2 {
    display: flex;
    align-content: center;
    justify-content: center;
  }

/* Ajustes de Producto principal mobile de 1300px hacia abajo */

@media (max-width: 1300px) {
    .contenedor-info-producto-raspberry-pi4 {
        flex-direction: column;
        margin: 0 2em 0 2em;
    }

    .info-producto-raspberry-pi4 {
        max-width: 100%;
    }

    .info-producto-raspberry-pi4 h2 {
        text-align: center;
        display: block;
    }

    .headline-raspberry-pi4 h2 {
        font-size: 1rem;
    }

    // .header {
    //     padding-left: 5.5em;
    //     padding-right: 5.5em;
    // }
}

/* Seccion video mobil 1000px hacia abajo*/

@media (max-width: 1000px) {
    .imagen-video {
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 2em;
        background: rgb(245, 245, 245);
    }
}




/* Ajustes para hero mobil  */
@media (max-width: 900px) {
    .hero {
        align-items: flex-start;
        flex-direction: column;
        background-size: 100% 100%;
        margin-top: 4em;
    }
    .hero .hero-texto .hero-texto-h2 {
        font-size: 2rem;
    }

     .hero-image {
        max-width: 30%;
        margin: 0 auto;
    }

    .hero .hero-texto {
        max-width: 100%;
        padding: 1em;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .hero .hero-texto .hero-texto-h2 {
        padding-bottom: 0;
    }

    .hero-texto-titulo {
        font-size: 1rem;
    }

    .hero .hero-texto .hero-texto-parrafo {
        width: 100%;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}


/* Inicia mobile hardware */

@media (max-width: 1300px) {
    .producto-principal-lista {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1em;
    }

    .lista-productos {
        grid-template-columns: 50%;
    }

    button {
        margin: 1em 0 1em 0;
    }
    
    .producto-principal-lista p {
        text-align: center;
        max-width: 35em;
    }

    .producto-principal-lista img {
        margin-top: 5em;
        max-width: 100%;
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    
    .producto-principal-lista p {
        width: 90%;
    }

    .bgimage {
        display: none; /*Ocultar imagen bootstrap */
    }
}


/* Inicia Seccion Software */

/* Agregando nuevos botones animados con hover para descarga Windows y Mac Store */

.contenedor-descargas {
    width: 100%;
    position: relative;
    margin: 3em;
}

.contenedor-descargas ul {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor-descargas li {
    display: inline-block;
    margin: 0px;
}

.descargar {
    width: 200px;
    height: 75px;
    background: black;
    float: left;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.descargar > .fa {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.df,
.dfn {
    position: absolute;
    left: 70px;
}

.df {
    top: 20px;
    font-size: .68em;
}

.dfn {
    top: 33px;
    font-size: 1.08em;
}

.descargar:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media (max-width: 900px) {
    .info-software img {
        max-width: 80%;
    }

    .texto-info-software {
        text-align: left;
        width: 90%;
        gap: 0.5em;
    }

    .texto-info-software p {
        width: 100%;
        text-align: center;
    }
    
    .bgimage-software {
        display: none; /*Ocultar imagen bootstrap */   
    }
}

/* Duracion de la animacion fadein hero*/
 .animate__animated.animate__fadeIn {
  --animate-duration: 3s;
} 