/* Redes Sociales */

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.iconos-social {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.iconos-social .icono {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.iconos-social .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.iconos-social .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.iconos-social .icono:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.iconos-social .icono:hover span,
.iconos-social .icono:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.iconos-social .facebook:hover,
.iconos-social .facebook:hover .tooltip,
.iconos-social .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.iconos-social .twitter:hover,
.iconos-social .twitter:hover .tooltip,
.iconos-social .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.iconos-social .instagram:hover,
.iconos-social .instagram:hover .tooltip,
.iconos-social .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.iconos-social .github:hover,
.iconos-social .github:hover .tooltip,
.iconos-social .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.iconos-social .youtube:hover,
.iconos-social .youtube:hover .tooltip,
.iconos-social .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}