/* Redes Sociales */

/* Centrar Iconos */
.social-icons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.15s ease;

  &:hover {
    color: $blanco;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--youtube { @include social-icon($youtube); }
  &--twitter { @include social-icon($twitter); }
  &--facebook { @include social-icon($facebook); }
  &--instagram { @include social-icon($instagram); }
  &--github { @include social-icon($github); }
  
  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.2rem .5rem;
  border-radius: 10px;
  font-size: 0.2rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  
  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}