/* ------ Inicia Seccion de Hardware ---- */

/* Producto Principal */

/* Aplicando bootstrap a grid */

.bgimage {
  width: 100%;
  height: 500px;
  background: url('../img/section-image-bg-raspberry-pi.jpg');
  background-repeat: no-repeat;
  background-position: 0 -20em;
  background-size: cover;
  background-attachment: fixed;

  h5 {
    color: $blanco;
    text-shadow: 2px 2px $gris-base;
  }
}

img.rounded.mx-auto.d-block {
  margin-left: 0 !important;
}

.btn-primary {
  color: $blanco;
  background-color: $rojo-base !important;
  border-color: $rojo-vivo !important;
}

.boton-mas-info::hover {
  background-color: $azul;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.contenedor-productos {
  padding-top: 4em;
}

.producto-principal-lista {
  display: grid;
  grid-template-columns: 40em 40em;
  grid-template-rows: 100px 0px 126px auto;
  grid-template-areas: "imagen titulo" "imagen subtitulo" "imagen texto" "imagen boton";

  /* width: 100%; */
  align-items: center;
  position: relative;
  background-color: $rojo-base;
  color: $blanco;
  z-index: -1;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 1em;

  img {
    grid-area: imagen;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  h1 {
    grid-area: titulo;
  }

  h2 {
    grid-area: subtitulo;
    font-weight: 500;
  }

  p {
    grid-area: texto;
    font-weight: 300;
  }

  button {
    grid-area: boton;
  }
}

/* Mobile hardware */

@media (max-width: 1300px) {
  .producto-principal-lista {
    display: flex !important;
    flex-direction: column;
    padding: 0;
    gap: 1em;
  }


  .lista-productos {
    grid-template-columns: 50%;
  }

  button {
    margin: 1em 0 1em 0;
  }

  .producto-principal-lista {
    p {
      text-align: center;
      max-width: 35em;
    }

    img {
      margin-top: 5em;
      max-width: 100%;
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }

    p {
      width: 90%;
    }
  }

  .bgimage {
    display: none;

    /*Ocultar imagen bootstrap */
  }
}