

/* Estilos del video iframe con background full with */

.imagen-video {
    align-items: center;
    background-image: linear-gradient(90deg,#d7dae0 0,rgba(215,218,224,0) 25%,rgba(215,218,224,0) 75%,#d7dae0),url(../img/imagen-fondo-video.jpeg);
    display: flex;
    background-position: 50%;
    background-size: cover;
    height: 731.25px;
    /* width: 1300px; */
    overflow: hidden;
   
  }

.contenedor-video {
    margin-top: 40px;
    background-color: #d7dae0;
    overflow: hidden;
  }

iframe .video {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 100);
     overflow: hidden;
}

.centrar-video {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1300px; */
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }
